.bookingForm {
    margin-left: 100px;
}

.bookingForm button {
    margin-top: 40px;
    margin-left: 19px;
}

.bookingForm form {
    margin-left: 110px;
}

.booking .form {
    margin-left: 20vw;
    margin-right: 30vw;
    margin-top: 50px;
    margin-bottom: 30px;
}

.booking button {
    margin-top: 40px;
    margin-left: -20px;
}