#root .nav {
    width: 100vw;
}

#root .nav-item {
    justify-self: space-between;
    margin-left: 36px;
    margin-top: 2px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav {
    display: inline-flex;
    flex-flow: row;
    width: 100vw;
    min-height: 30px;
    background-color: #EE9972;
    min-width: 400px;
}



.main {
    display: flex;
    justify-content: stretch;
    flex-flow: column wrap;
}



.header {
    width: 80vw;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: stretch;
    height: 130px stretch;
    justify-content: start;

}

.header .logo {
    display: inline-flex;
    flex-grow: row wrap;
    margin-right: 120px;
    margin-top: 10px;
}

.header img {
    width: 200px;
    height: 54px;
    padding-left: 20px;
    padding-right: 20px;
}

.header ul {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-left: 2px;
    padding-right: 8px;
    max-width: 50vw;
    min-width: 280px;
}

.header a:link {
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-wrap: wrap;
    flex-flow: row;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    align-self: center;
    font-size: 16;
    font-weight: bold;
    align-self: flex-start;
}

header h1 {
    font-size: 30px;
    margin-left:28px;
}

header h6 {
    font-size: 40px;
    margin-left: 69px;
}

.header li {
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    flex-direction: column;
    padding: 14px;
    padding-top: 8px;
    margin-right: 0px;
    align-self: center;
}



.footer {
    display: inline-flex;
    flex-flow: row wrap;
    width: auto;
    min-height: 460px stretch;
    background-color: FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
    text-decoration: none;
    margin-left: 8vw;
    justify-content: space-evenly;
  }

.footer img {
    width: 162px;
    height: 216px;
    margin-top: -36px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.footer ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 100px;
    margin-top: 0px;
    margin-left: 24px;
}

.footer li {
    display: flex;
    flex-direction: column;
    background-color: FFFFFF;
    padding: 5px;
    align-self: flex-start;
    text-wrap: nowrap;
}

.footer a:link {
    display: flex;
    flex-wrap: wrap;
    color: black;
    flex-flow: column;
    flex-direction: column;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    align-self: flex-start;
}

.footer p {
    justify-content: space-between;
    padding-inline: 69px;
    margin-left: 24px;
    margin-top: 50px;
}